In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("c:\\Users\\91893\\Desktop\\Pandas\\CSV_FILE\\Healthcare-Diabetes.csv")

In [5]:
df.head()

,Id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,6,148,72,35,0,33.6,0.627,50,1
1,2,1,85,66,29,0,26.6,0.351,31,0
2,3,8,183,64,0,0,23.3,0.672,32,1
3,4,1,89,66,23,94,28.1,0.167,21,0
4,5,0,137,40,35,168,43.1,2.288,33,1

In [6]:
df.isnull().sum()

Id                          0
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [8]:
df.drop(columns='Pregnancies' , inplace=True)
df.drop(columns='Id' , inplace=True)
df.drop(columns='BloodPressure' , inplace=True)
df.drop(columns='SkinThickness' , inplace=True)
df.drop(columns='BMI' , inplace=True)
df.drop(columns='DiabetesPedigreeFunction' , inplace=True)

In [9]:
df.sample(3)

      Glucose  Insulin  Age  Outcome
325       157      168   24        0
1923      127      155   28        0
2423      136       88   35        1

In [12]:
from sklearn.model_selection import train_test_split
X_train,x_test,Y_train,y_test = train_test_split(df.drop('Outcome', axis=1),df['Outcome'],test_size=0.2,random_state=0)

In [18]:
Y_train

330     0
2594    0
1902    0
2635    0
1942    0
       ..
763     0
835     0
1653    1
2607    0
2732    1
Name: Outcome, Length: 2214, dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
le = LabelEncoder()

In [23]:
y_train_le = le.fit(Y_train)

In [24]:
le.classes_

array([0, 1], dtype=int64)

In [26]:
y_train_le = le.fit_transform(Y_train)

In [27]:
y_train_le

array([0, 0, 0, ..., 1, 0, 1], dtype=int64)

ORDINAL ENCOADING

In [28]:
from sklearn.preprocessing import OrdinalEncoder
Oe = OrdinalEncoder()

In [29]:
Oe = Oe.fit_transform(X_train)

In [30]:
Oe

array([[ 56.,   0.,  25.],
       [ 37.,  98.,   0.],
       [ 31.,   0.,   4.],
       ...,
       [111., 173.,   1.],
       [ 59.,  44.,   7.],
       [ 46.,   0.,  21.]])

In [31]:
df.head(5)

   Glucose  Insulin  Age  Outcome
0      148        0   50        1
1       85        0   31        0
2      183        0   32        1
3       89       94   21        0
4      137      168   33        1

ONE HOT ENCOADING

In [44]:
from sklearn.preprocessing import OneHotEncoder
Ohe = OneHotEncoder()

In [47]:
Ohe = Ohe.fit_transform(X_train).toarray()

In [48]:
Ohe

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])