In [34]:
import pandas as pd

In [35]:
df = pd.read_csv("C:\\Users\\91893\\Downloads\\data (1).csv")

In [36]:
df.drop([11,12,13,14,15,16,17,18,19] , inplace=True)

In [37]:
df.drop('Volume', axis=1, inplace=True)

In [38]:
df.drop('Model', axis=1, inplace=True)

In [39]:
df.sample(5)

         Car  Weight  CO2
23     Skoda    1415   99
20      Ford    1584   94
10   Hyundai     980   99
28     Volvo    1523  109
25  Mercedes    1465  102

In [40]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler , OneHotEncoder
from sklearn.linear_model import LogisticRegression

In [41]:
df.sample()

        Car  Weight  CO2
7  Mercedes    1365   92

         Car  Weight
32      Ford    1235
23     Skoda    1415
21      Opel    1428
33       BMW    1390
29       BMW    1705
26      Audi    1490
35  Mercedes    1395
30  Mercedes    1605
22  Mercedes    1365
2      Skoda     929
24     Volvo    1415
34      Opel    1405
31     Volvo    1746